* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #05070f;
  color: white;
  overflow-x: hidden;
}

/* CANVAS */
canvas {
  position: fixed;
  inset: 0;
}

#bg {
  z-index: -2;
}

#three-bg {
  z-index: -1;
  pointer-events: none;
}

/* HERO */
.hero {
  min-height: 100vh;
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 4rem;
  letter-spacing: 4px;
}

.hero p {
  max-width: 800px;
  margin: 20px auto;
  opacity: 0.85;
  line-height: 1.7;
}

/* BLOG */
.blog {
  padding: 100px 8%;
}

.post {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 160px;
}

.post.reverse {
  flex-direction: row-reverse;
}

.post img {
  width: 450px;
  border-radius: 25px;
  box-shadow: 0 40px 80px rgba(0,0,0,0.8);
}

.text {
  max-width: 600px;
  background: rgba(255,255,255,0.08);
  padding: 35px;
  border-radius: 25px;
  backdrop-filter: blur(14px);
}

.text h2 {
  margin-bottom: 15px;
}

.text p {
  line-height: 1.7;
  opacity: 0.85;
  margin-bottom: 10px;
}

/* FUTURE */
.future {
  padding: 160px 20px;
  text-align: center;
}

.future h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.future p {
  max-width: 800px;
  margin: auto;
  opacity: 0.8;
}
